#click-btn {
  /* display: none; */
  margin: 20px auto;
  background-color: white;
  color: white;
  border: 0;
  padding: 6px 10px;
}
#click-btn2 {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: white;
  border: 0;
  padding: 6px 10px;
}
#click-btn3 {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: white;
  border: 0;
  padding: 6px 10px;
}
#click-btn4 {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: white;
  border: 0;
  padding: 6px 10px;
}

#popup-wrapper {
  
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
#popup-wrapper2 {
 
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
#popup-wrapper3 {
  
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
#popup-wrapper4 {
 
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.popupWrapper{

  display: none;
}
.popup-inside {

  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 300px;
  max-height: 200px;
  max-width: 300px;
  background: #0180BE;
  margin-top: 50%;
  margin-left: 35px;
  position: relative;

}
.popup-inside2 {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 300px;
  max-height: 200px;
  max-width: 300px;
  background: #0180BE;
  margin-top: 50%;
  margin-left: 35px;
  position: relative;

}
.popup-inside3 {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 300px;
  max-height: 200px;
  max-width: 300px;
  background: #0180BE;
  margin-top: 50%;
  margin-left: 35px;
  position: relative;

}
.popup-inside4 {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 300px;
  max-height: 200px;
  max-width: 300px;
  background: #0180BE;
  margin-top: 50%;
  margin-left: 35px;
  position: relative;

}
.conte{

  background-color: #0180BE;
  display: none;
  justify-content: space-around;
}
#message a {

  /* ここに中身の画像やメッセージを入力 */

  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
#message2 a {

  /* ここに中身の画像やメッセージを入力 */

  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
#message3 a {

  /* ここに中身の画像やメッセージを入力 */

  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
#message4 a {

  /* ここに中身の画像やメッセージを入力 */

  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
#close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
#close2 {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
#close3 {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
#close4 {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}


.meingazo {

margin: auto;
text-align: center;
}
header div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  left: auto;
  bottom: 50px;
  /*  */
}

header div img{
  width:32px;
  height: 32px;
  margin-bottom: 20px;
}

header .TLogo{
  background-size: 120px;
  height: 45px;
}

header .TN{
  position: absolute;
  top: 120px;
  left: 88px;
  width: 199px;
  height: 372px;
}

header span{
  display: block;
  width: 247px;
  position: absolute;
  right: 20px;
  bottom: 8px;
  color: #fff;
  line-height: 19.2px;
}

header .menu{
  width: 225px;
  height: 667px;
  position: fixed;
  right: -427px;
  z-index: 99;
}

header{
  padding: 4px 20px;   
  /* 上が、赤線のpadding */
  background: url(../images/topImg.jpg) center;
  background-size:cover;
  /* 画像ファイル */
  height: 667px;
  text-align: left;
  /* SNSロゴ部分 */
  position: relative;
}
 header{
    padding: 4px 20px;
    background: url(../images/topImg.jpg);
    background-size: cover;
    height: 667px;

    position: relative;
} 
body {
    text-align: center;
    line-height: 1.6;
    padding-top: 50px;
    font-size: 12px;
}
.text{
  text-align: left;
    justify-content: flex-start;
    background-color:rgba(237, 161, 132, 0.2);
  
   display: block;
  
   margin-top: 15px;

   padding:8px 36px;
   margin: 20px 40px;
}
.textPc{
  text-align: left;
    justify-content: flex-start;
    background-color:rgba(237, 161, 132, 0.2);
   display: block;
   margin-top: 15px;
   padding:8px 36px;
   margin: 20px 40px;
}
.textmin{
  text-align: left;
    justify-content: flex-start;
    background-color:rgba(237, 161, 132, 0.2);
  
   display: block;
  
   margin-top: 15px;

   padding:8px 36px;
   margin: 20px 40px;
}
.Museum{
    font-size: 24px;
    display: flex;
    justify-content: center;
  
}
.ant{
    
    text-align: left;
}
.eigyo{
    display: flex;
    margin-left: 270px;
    color: #000000;
    width: 100px;
    border: solid 3px rgba(237, 161, 132, 0.2);

}
.mura{
    font-size: 40px;
    font-weight: bold;
}
.sen{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    width: 225px;
    margin-top: 12px;
    margin: auto;
    display:flex;
     
    text-align: center;
}
footer{
    color: #fff;
    background-color: #007AB7;

  }
  .hakubutu{
font-size: 12px;
padding-top: 12px;
  }
  footer .midFoot{
    background: url(../images/TaiwanLogo.svg) bottom left no-repeat;
    background-size: 71px 28px;
  }
  
  footer .flag{
  width: 32px;
  height: 24px;
  margin: 20px auto;
  }
  
  footer ol{
    width: 195px;
    height: 167px;
    padding-bottom: 40px;
    text-align: left;
    margin-left: 70px;
  }
  
  footer div ol li{
    padding: 12px 0 6px;
    border-bottom: 1px solid #fff;
    line-height: 1;
  }
    
  footer div div{
    height: 32px;
    margin: 40px auto 12px;
  }
  
  footer div div img:not(last-child){
    margin-right: 20px;
  }
  
  footer>div:last-child{
    border-top: 1px solid #03A9F4 ;
    height: 34px;
    font-size: 10px;
  }
  
  footer span{
    display: inline-block;
    font-family: 'Noto Sans JP';
    margin: 12px auto;
  }
  .teisai{
text-align: center;
margin: 40px;
  }
  .dairyouiki{
    padding: 40px;
  }

  .kankou{
    padding: 40px;
    font-size: 24px;
  }
  .ts{
    padding: 12px 76px;
    text-align: left;
  }
  .bunka{
    margin: 36px;
    text-align: left;
  }
  .tyu{
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
  }
  .midashi{
   
    background-image: url(../images/midashi.svg);
    background-size:240px;
    background-repeat: no-repeat;
    background-position: 70px;
    
  }
  .midashi1{
   
    background-image: url(../images/midashi.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 75px;
    
  }
  .end{
    margin-top: 40px;
    margin-bottom: 40px;

  }
  .ppa{
    margin-top: 40px;
   }
  @media screen and (min-width: 768px){
  main{
    margin-left: 133px;
  }
  .Pctyosei{
  display: flexbox;
   justify-content: flex-end;
   margin-left: 60px;
  }
  .Museum{
    font-size: 48px;
    justify-content: right;
    margin-right: 60px;
}
.PCSw{
display: flex;
justify-content: flex-start;
}
.hakubutu{
  font-size: 24px;
  padding-top: 20px;
}
.eigyo{
  display: flex;
  margin-left: 430px;
  
  width: 100px;
  border: solid 3px rgba(237, 161, 132, 0.2);
  
  
}
   .text{
    font-size: 17px;
    height: 430px;
    padding: 15px;
    margin-left: 40px;
    margin-top: 40px;
   }
   .text{
    text-align: left;
      justify-content: flex-start;
      background-color:rgba(237, 161, 132, 0.2);
      margin-top: 40px;
  }
  .ant{
    
  font-size: 30px;
}
   .tyu{
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
    inline-size: 410px;
  }
  .tyousei{
    display: flex;
    justify-content: flex-start;
    z-index: 100;
  }
.kankou{
  text-align: left;
}
.suitu{
  display: flex;
  justify-content: flex-start;
  margin-left:40px;
  font-size: 20px;
  margin-bottom: 30px;
}
.suitop{
  margin-top: 20px;
  font-size: 25px;
}
    .midashi{
      background-image: url(../images/pcMidashi.svg);
      background-position: 5px;
      background-size: 400px;
      
    }
    .midashi1{
      background-image: url(../images/pcMidashi.svg);

      background-position: 800px;
      background-size: 400px;
    }
    .pcPea{
    display: flex;
    justify-content: flex-start;
   }
   .fontSs{
    font-size: 20px;
   }
   .pcPea2{
    display: flex;
    justify-content: flex-start;
   }
   .pcPea3{
    width: 1080px;
    display: flex;
    align-items: flex-start;
  margin: 100px;
   }
   .ppa{
    margin-left: 250px;
   }


.text{
  width: 420px;
  height: 320px;
  margin: 0;
  margin-left: 40px;
  
}

.textPc{
  margin-top: 40px;
  height: 144px;
  font-size: 17px;
  padding: 10px;
  width: 500px;
}

.textmin{
  font-size: 18px;
  width: 420px;
  height: 144px;
  margin-top: 40px;
  margin-left: 40px;
}
.gazosize6{
  
  width: 700px;
  height: 320px;
}

.gazosizemin{
  width: 700px;
  height: 144px;
  margin-top: 40px;
}
.meingazo{
  width: 530px;
  height: 270px;
}
.gazo56{
  width: 560px;
  height: 346px;
}
.gazo400{
  width: 400px;
  height: 600px;
}

.ganka{
text-align: left;
font-size: 20px;
}

.gaka{
  font-size: 50px;
  margin-left: 90px;
  margin-top: 60px;
}
header{
background-size: 1366px;
background-repeat: no-repeat;
height: 768px;
}
.sen{
  width: 480px;
  margin-top: 80px;
}
.senB{
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 400px;
  margin-top: 12px;
 margin-top: 40px;
 margin-bottom: 40px;
  display:flex;
   
  text-align: right;
}
}