@charset "utf-8";
/* Google FontsからNoto Sans JPとNoto Serif JPをインポート */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap');


/* Noto Sans JPを使用 */
.sans-font {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Noto Serif JPを使用 */
.serif-font {
    font-family: 'Noto Serif JP', serif;
}
.menu{
  list-style: none;
  display: flex;

 
}
.gMenu .menu-btn {
  display: none;
}

body {
  font-family: 'Noto Serif JP','Noto Sans JP',sans-serif;
    font-size: 10px;
    text-align: center;
    

}
.siryo{
   border-radius: 50%;
}
img {
  width: auto;
  height: 200px;
}
.pc{
  display: flex;
justify-content: center;
}
.topSei{
  display: flex;
  justify-content: space-between;
  
}
.sen{
  display: flex;
  justify-content: center;/* 中央*/
}
button {
  border: none;
  width: auto;
  background-color:#333333;
  color: #FFFFFF;
  border-radius: 15px; /* 丸みの度合いを指定 */
  cursor: pointer; /* ポインターを手に変更 */
  display: flex; /* フレックスボックスを使用 */
  
  text-align: center;
  cursor: pointer;
  }
  #nyu{
    border-radius: 0; /* クラス名buttonの丸みの度合いを打ち消し */
    padding: 4px 4px 4px 4px;
    margin: 10px;
  }
  #toiform {
    background-color: rgba(34, 62, 105, 0.15);
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: 30px;
    font-weight: bold;
  }
  .lined-text {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .lined-text2 {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .sek{
    color: #b71b26;
  }
  .hida{
  text-align: left;
  }
h1 {
  color: #b71b26;
  font-size: 16px;
  font-weight: bold;
}
footer {
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;

  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}
header {
  display: block;
  justify-self: left;
}

h2 {
  font-size: 15px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="inquiry"],
textarea {
width: 95%; 
height: 25px;
border: none; /* 枠線を消す */
}
input[type="inquiry"],
textarea {
height: 100px;
}

.topGazo {
width: 100%;
height: 300px;
}

.sodanColor {
display: flex;
justify-content: center;
margin-right: 50px;
}

#aka {
color: #FFFFFF;
margin-left: 10px;
display: inline-block;       /* インライン要素として扱い */
background-color: #b71b26; /* 背景色を赤に設定 */
color: #FFFFFF;             /* 文字色を白に設定 */
border-radius: 35%;          /* 丸くする */
padding: 1px 5px 1px 5px;    /* アイコンの内側の余白 */
font-size: 12px;             /* サイズ */
font-weight: bold;           /* 太字 */
margin-left: 5px;            /* 左側の余白 */
vertical-align: middle;      /* テキストの高さを中央に揃える */
}


.lined-text::before,
.lined-text::after {

content: "";
flex-basis: 60px;
align-items: center;
border-bottom: 1px solid #223E69; /* ラインの色と太さ */
margin: 0 10px; /* テキストからの左右の間隔 */
}

.lined-text2::before,
.lined-text2::after {

content: "";
flex-basis: 60px;
align-items: center;
border-bottom: 1px solid#b71b26; /* ラインの色と太さ */
margin: 0 10px; /* テキストからの左右の間隔 */
}


.baksou{
  background-color: rgba(34, 62, 105, 0.15); /* 背景色を15%の不透明度に設定 223E69はrgbaだと(34, 62, 105）*/
}


.gMenu .menu li a {
padding: 15px 10px;
font-size: 14px;
text-decoration: none;

}

.addressban{
  margin-left: 8px;
  width: 100px;
  display: flex;
  flex-wrap: nowrap;
  border: none; /* 枠線を消す */
}
h1 {
font-size: 15px; 
}
h2 {
font-size: 14px;
}

.triangleButton {
  
display: flex;
justify-content: center;
width: 30px; 
position: relative;
background-color: #333333;
color: #FFFFFF;
border: none;
cursor: pointer;
font-size: 16px;
border-radius: 8px; /* ボタンの角を丸める */
display: inline-block;
margin: 20px;
}
.triangleButton2 {
display: flex;
justify-content: center;
width: 30px; 
position: relative;
background-color: #333333;
color: #FFFFFF;
border: none;
cursor: pointer;
font-size: 16px;
border-radius: 8px; /*ボタンの角を丸める */
display: inline-block;
margin: 20px;
}
.triangleButton::after {
content: "";
position: absolute;
bottom: 50px; /* ボタンと矢印の間に隙間を追加 */
left: 100%;
transform: translateX(30%) rotate(270deg); /*translateX(30%)右にどれだけ疑似要素をずらすかの値　rotate(270deg)疑似要素を回転させる値*/
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #b71b26; /*赤い三角形*/
}
#qBtan {
background-color: #333333;
color: #FFFFFF;
width: 40px;
border-radius: 40px;
}
#aBtan{
background-color: #b71b26; 
color: #FFFFFF;
width: 12px;
border-radius: 12px;
}
.mira{
display: block;
text-align: right; /* テキストを右寄せ */
cursor: pointer;

}

.test{
font-size: 50px;

}
#test{
font-size: 50px;
max-height: 10px;
}
#h{
display: block;
text-align: left; /* テキストをhいだり寄せ */
}
.topPage{
  background-color: #333333;
  cursor: pointer;
  color: #ffffff;
  position: static;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 30px;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}
.rig{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

/*ccna*/
@media screen and (max-width: 768px) {
  .triangleButton {
    margin: 0px;
  width: 300px; 
  }
  .triangleButton2 {
    margin: 0px;
    width: 300px; 
    }
  .triangleButton::after {
    content: "";
    position: absolute;
    bottom: -15px; /* ボタンと矢印の間に隙間を追加 */
    left: 50%;
    transform: translateX(-15%) ;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #b71b26; /* 赤い三角形 */
    }
  .sodanColor {
   
      display: flex;
      align-self: flex-start;
      justify-content: center;
      display: block;
  }
  .topGazo {
    height: 250px;
    }
  .pc{
    display: grid;
  }
  .menu{
    display: block;
  }
img {
  width:380px;
  height: 200px;
}
.gMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* メニューアイコンを画面右上に固定しています */
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
h1 {
  color: #b71b26; 
}
/* メニューアイコン（三本線）の真ん中の線です */

.navicon {
    display: block; /* ブロック要素として表示 */
    width: 30px; /* 幅を設定 */
    height: 3px; /* 高さを設定 */
    background-color:#b71b26; ; /* 赤色に設定 */
    position: relative; /* 相対位置を設定 */
    transition: background-color 0.3s; /* アニメーションを追加 */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background-color:#b71b26;  /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
/* 表示されるメニューです */
.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザインです */
.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
#toiform2{
 display: block;
 align-items: stretch;
  
}
/* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
/* サイトに合わせてオリジナルカスタマイズ */
.gMenu .menu-icon {
  top: 26px;
}
.gMenu .menu-icon .navicon,
.gMenu .menu-icon .navicon::before,

.gMenu {

  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
.gMenu .menu-icon .navicon {
  display: block;
  height: 2px;
  width: 31px;
  position: relative;
  transition: background .4s ease-out;
}
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
 
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;}
.gMenu .menu-icon .navicon::after {top: -10px;}

.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}

.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px;
  transition: max-height .6s;
}


.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 40px;
  padding-top: 5px;
  height: 12px;
}
.navicon {
    display: block; /* ブロック要素として表示 */
    width: 30px; /* 幅を設定 */
    height: 3px; /* 高さを設定 */
    background-color: #b71b26; /* 赤色に設定 */
    position: relative; /* 相対位置を設定 */
    transition: background-color 0.3s; /* アニメーションを追加 */
}
/* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background-color: #b71b26; /* 色は自由に変更可能です */
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; /* 形が変わる時のアニメーション */
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} /* 位置を上にずらしています */
.gMenu .menu-icon .navicon::after {top: -10px;} /* 位置を下にずらしています */
/* 表示されるメニューです */
.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; /* ★最初は高さを0にして非表示状態に */
  transition: max-height .6s; /* 表示されるときのアニメーション */
  text-align: center;
}
/* メニュー部分のデザインです */
.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}
/* チェックボックスは常に非表示です */
.gMenu .menu-btn {
  display: none;
}
/* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
  transition: max-height .6s;
}
/* メニューボタンの中央の線を非表示に */
.gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}

/* メニューボタンの上下の線を45度傾けて✕印を作ります */
.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}
/* サイトに合わせてオリジナルカスタマイズ */
.gMenu .menu-icon {
  top: 26px;
}
.gMenu .menu-icon .navicon,
.gMenu .menu-icon .navicon::before,

.gMenu {

  right: 0;
  top: 5px;
  width: 100%;
  z-index: 99;
}
.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}
.gMenu .menu-icon .navicon {
  display: block;
  height: 2px;
  width: 31px;
  position: relative;
  transition: background .4s ease-out;
}
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
 
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out;
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;}
.gMenu .menu-icon .navicon::after {top: -10px;}

.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}

.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px;
  transition: max-height .6s;
}

    .triangle {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px #b71b26; /* 三角形の色 */
    }

}

