@charset "utf-8";

    .test{
      display: flex
    }
    img {
      width: 100px;
      height: 150px;
    }
    body{
      background-color:rgba(144, 144, 253, 0.801);
    }
    div {
      display: flex;
    }
    main{
      flex-basis: 1660px;
      background-color: white;
      margin: 0px 60px 20px;
    }
    aside {
      flex-basis: 584px;
    }
    footer {
      text-align: center;
    }
    header {
      text-align: center;
    }
    .ffDotGothic16{
      font-family: 'DotGothic16', sans-serif;
    
   }

   h1{
      font-size: 60px;
      font-weight: bold;
      }
   h2{
      font-size: 30px;
      font-weight: bold;
      }

   h3{
      font-size: 20px;
      font-weight: bold;
      }

    th {
      border: 1px solid;
      text-align:center;
      padding: 5px;
    }
    td {
      border: 1px solid;
      text-align:center;
      padding: 5px;
    }
    table{
      margin: 0px 60px 20px;
    }
    .card_back{
      background-color: green;
      text-align: center;
      display: block;
      padding: 10px; 
      margin-bottom: 10px; border: 5px double gold;
      border-radius: 10px;
      margin: 0px 4px;
    }
    span {
      color:red;
      font-weight: bold;
    }
    @media screen and (max-width: 640px) {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 18px;
      }




    }